 #title {
    text-align: left;
  }
  
  #questionPaper {
    border-collapse: collapse;
    border: 3px solid #ddd;
  }
  
  #questionPaper td,
  #questionPaper th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  #questionPaper tr:hover {
    background-color: #ddd;
  }
  
  #questionPaper th {
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
  }
  
  .opration {
    text-align: center;
  }
  
  .button {
    border: none;
    outline: none;
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
  }
  
  .button:active {
    border: 1px solid 007bff
  }