.button {
    border: none;
    outline: none;
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: transparent;
  }
  
  .button:active {
    border: 1px solid 007bff
  }